.edit {
    width: 65%;
    min-height: 40em;
    margin-bottom: 3em;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
    

}
h3 {
    text-align: center;
    position: relative;
    padding-top: 1em;
}

h5 {
    text-align: center;
    position: relative;
    padding-top: 1em;
}

.form-select {
    width: 85%;
}

.form-floating.mb-3{
    margin: 2em;
}

.form-floating {
    margin: 2em;
}

.form-control.matricula{
    width: 50%;
}

.form-select.turno{
    width: 40%;
    margin-left: 50%;
    margin-top: 10%;
}

.form-select.status{
    margin-left: 7%;
    margin-top: 8%;
    height: 40%;
    width: 85%;
}

.form-select.perfil{
    margin-left: 7%;
    margin-top: 8%;
    height: 40%;
    width: 85%;
}

.btn.btn-primary.editar{
    width: 30%;
    margin-left: 35%;
    margin-right: 0;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.linha {
    color: rgba(255, 0, 0, 0);
}

.alteracao {
    margin-left: 40%;
    margin-bottom: 30px;
    
}

.left {
    flex: left;
    width: 47.5%;
    display: inline-block;
}

.right {
    flex: right;
    width: 47.5%;
    display: inline-block;
    margin-left: 4%;
}

.remover {
    background-color: red;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 15px;
    position: absolute;
    top: 25%;
    left: 87%;
}

.adicionar {
    background-color: green;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 25%;;
    left: 87%;
}

.texto {
    margin-top: 4%;
    margin-bottom: 4%;
    text-align: center;
}

.colab {
    text-align: center;
}

/* .edit {
    width: 60%;
    min-height: 40em;
    margin-bottom: 3em;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
}
h3 {
    text-align: center;
    position: relative;
    padding-top: 1em;
}

.form-floating.mb-3{
    margin: 2em;
}

.form-floating {
    margin: 2em;
}

.form-floating.left{
    display: inline-block;
    flex: left;
    margin-left: 2em;
    margin-right: 5.5em;
}

.form-floating.right{
    display: inline-block;
    flex: right;
    margin-left: 5.5em;
}

.form-floating.select{
    width: 35%!important;
}

.form-control.numero{
    width: 20em;
    border-radius: .375em;
}

.form-select.turno{
    width: 40%;
    margin-left: 50%;
    margin-top: 10%;
}

.form-select.status{
    margin-left: 2em!important;
    margin-top: -9.5%!important;
    width: 21.9%!important;
    height: 8%;
    margin-left: 35.2%!important;
    position: absolute;
}

.form-select.perfil{
    margin-left: 7%;
    margin-top: 8%;
    height: 40%;
    width: 80%;
}

.btn.btn-primary.editar{
    width: 30%;
    margin-left: 35%;
    margin-right: 0;
    font-size: 15px;
    margin-bottom: 2em;
}

.linha {
    color: rgba(255, 0, 0, 0);
}

.alteracao {
    margin-left: 40%;
    margin-bottom: 10px;
    
} */