.hora {
    background-color: white;
    min-height: 17em;
    width: 90%;
    margin-top: 0em;
    margin-left: 2em;
    border-radius: 10px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    box-shadow: 2px 2px 15px 4px rgba(0,0,0,.2);
    
}

.containeraaa{
    display: grid;
	grid-template-columns: 1fr 1fr ;
	grid-gap: 1px;
    margin-top: 2rem;
}
.scroll {
    max-height: 18em;
    overflow-y: auto;
}
h4{
    text-align: center;
}

h5 {
    margin-top: -10px;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: -10px;
    text-align: right;

}

.horasobre {
    margin-top: -10px;
    text-align: right;

}

span {
    background-color: #0B2D72;
    padding: 5px;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    margin-left: 65%;
}

.dados {
    text-align: left;
}

hr {
    width: 80%;
}

.icone {
    margin-left: 15%;
    margin-top: 10%;
    color: #0B2D72;
}

.selects {
    display: flex;
}

.search-select {
    display: inline-block;
    width: 26%;
    margin-bottom: 4%;
    margin-right: 1%;
}

.search-button {
    height: 37px;
    width: 8%;
}